<footer>
    <div class="container text-center">
        <div class=row>
            <div class="col-md-4 footerListe">
                <div class="suivez-nous">
                    <p>Suivez-nous :
                        <div class="row">
                            <div class="col-md-2 offset-md-3 col-sm-2 col-xs-4">
                                <img src="{{ asset('images/design/facebook.png') }}" class="img-fluid" alt="logo facebook" />
                            </div>
                            <div class="col-md-2 col-sm-2">
                                <img src="{{ asset('images/design/tweeter.png') }}" class="img-fluid" alt="logo tweeter"/>
                            </div>
                            <div class="col-md-2 col-sm-2">
                                <img src="{{ asset('images/design/google.jpg') }}" class="img-fluid" alt="logo google">
                            </div>
                        </div>
                    </p>
                </div>
            </div>
            <div class="col-md-4 footerListe">
                <h5>menu</h5>
                <ul>
                    <li><a href="{{ path('ptitdej_homepage') }}">Accueil</a></li>
                    <li><a href="{{ path('ptitdej_homepage') }}">Qui sommes-nous ? </a></li>
                    <li><a href="{{ path('ptitdej_homepage') }}">Nous contacter </a></li>
                </ul>
            </div>
            <div class="col-md-4 footerListe">
                <h5>Actions</h5>
                <ul>
                    <li><a href="{{ path('form_entreprise') }}">organiser un petit dej</a></li>
                    <li><a href="{{ path('form_prestataire') }}">vendre des petits dej</a></li>
                    <li><a href="{{ path('form_com') }}">ajoutez un commentaire</a></li>

                </ul>
            </div>
        </div>
    </div>
</footer>