<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Ptitdej.fr - petit dejeuner d'entreprise{% endblock %}</title>
    {#{% stylesheets 'bundles/ptitdejbundle/css/ptitdej.css' %}#}
    {#<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />#}
    {#{% endstylesheets %}#}

    {% block stylesheets %}
        {# On charge le CSS de bootstrap depuis le site directement #}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ asset('bundles/ptitdej/ptitdej.css')  }}">
        <link rel="stylesheet" href="{{ asset('bundles/ptitdej/formulaire.css')  }}">
    {% endblock %}
</head>

<body>
    <div class="container-fluid bandeau">

    </div>
    <div class="container">
        <div>
            Etês-vous déjà inscrit sur notre site ?
            <button><a href="#">oui</a></button>
        </div>

        {% block h1 %}
        {% endblock %}


        <fieldset class="entreprise">
            <legend>Renseignements sur votre entreprise</legend>
            <hr>



            {{ form_start(form) }}

            {% set class = "" %}
            {% if not form.nom.vars.valid %}
                {% set class = 'has-error' %}
            {% endif %}
            <div class="form-group form-inline {{ class }}">

                <label for="{{ form.nom.vars.id }}" class="form-label control-label">Nom de votre entreprise</label>
                <input type="text" class="form-control form-input" id="{{ form.nom.vars.id }}" name="{{ form.nom.vars.full_name }}" value="{{ form.nom.vars.value }}">
                {% do form.nom.setRendered %}
                {% if not form.nom.vars.valid %}
                    {% for error in form.nom.vars.errors %}
                        <span class="help-block">{{ error.message }}</span>
                    {% endfor %}
                {% endif %}

            </div>

            {{ dump() }}
            {% set class = "" %}
            {% if not form.mail.vars.valid %}
                {% set class = 'has-error' %}
            {% endif %}
            <div class="form-group form-inline {{ class }}">

                <label for="{{ form.mail.vars.id }}" class="form-label control-label">votre adresse mail</label>
                <input type="text" class="form-control form-input" id="{{ form.mail.vars.id }}" name="{{ form.mail.vars.full_name }}" value="{{ form.mail.vars.value }}">
                {% do form.mail.setRendered %}
                {% if not form.mail.vars.valid %}
                    {% for error in form.mail.vars.errors %}
                        <span class="help-block">{{ error.message }}</span>
                    {% endfor %}
                {% endif %}

            </div>


            {% set class = "" %}
            {% if not form.adresse.vars.valid %}
                {% set class = 'has-error' %}
            {% endif %}
            <div class="form-group form-inline {{ class }}">

                <label for="{{ form.adresse.vars.id }}" class="form-label control-label">adresse de votre entreprise</label>
                <input type="text" class="form-control form-input" id="{{ form.adresse.vars.id }}" name="{{ form.adresse.vars.full_name }}" value="{{ form.adresse.vars.value }}">
                {% do form.adresse.setRendered %}
                {% if not form.adresse.vars.valid %}
                    {% for error in form.adresse.vars.errors %}
                        <span class="help-block">{{ error.message }}</span>
                    {% endfor %}
                {% endif %}

            </div>


            <div class="form-group form-inline">{{ form_row(form.codePostal) }}</div>
            <div class="form-group form-inline">{{ form_row(form.tel) }}</div>

            {% block evenement %}
            {% endblock %}


            {{ form_end(form) }}


        </fieldset>

    </div>
</body>
</html>
