{% extends "@Ptitdej/Default/layoutForm.html.twig" %}

{% block formulaire %}

        <div class="dejaInscrit">
            Etês-vous déjà inscrit sur notre site ?
            <button class="myButtonBis"><a href="{{ path('form_entreprise_deja_inscrite') }}">Oui</a></button><br/>
            si non remplissez le formulaire suivant
        </div>

        {% block h1 %}
        {% endblock %}


        <fieldset class="entreprise">
            <legend>Renseignements sur votre entreprise</legend>
            <hr>



            {{ form_start(formEntreprise) }}

            {% set class = "" %}
            {% if not formEntreprise.nom.vars.valid %}
                {% set class = 'has-error' %}
            {% endif %}
            <div class="form-group {{ class }}">

                <label for="{{ formEntreprise.nom.vars.id }}" class="form-label control-label">Nom de votre entreprise</label>
                <input type="text" class="form-control form-input" id="{{ formEntreprise.nom.vars.id }}" name="{{ formEntreprise.nom.vars.full_name }}" value="{{ formEntreprise.nom.vars.value }}">
                {% do formEntreprise.nom.setRendered %}
                {% if not formEntreprise.nom.vars.valid %}
                    {% for error in formEntreprise.nom.vars.errors %}
                        <span class="help-block">{{ error.message }}</span>
                    {% endfor %}
                {% endif %}

            </div>


            {% set class = "" %}
            {% if not formEntreprise.mail.vars.valid %}
                {% set class = 'has-error' %}
            {% endif %}
            <div class="form-group {{ class }}">

                <label for="{{ formEntreprise.mail.vars.id }}" class="form-label control-label">votre adresse mail</label>
                <input type="text" class="form-control form-input" id="{{ formEntreprise.mail.vars.id }}" name="{{ formEntreprise.mail.vars.full_name }}" value="{{ formEntreprise.mail.vars.value }}">
                {% do formEntreprise.mail.setRendered %}
                {% if not formEntreprise.mail.vars.valid %}
                    {% for error in formEntreprise.mail.vars.errors %}
                        <span class="help-block">{{ error.message }}</span>
                    {% endfor %}
                {% endif %}

            </div>


            {% set class = "" %}
            {% if not formEntreprise.adresse.vars.valid %}
                {% set class = 'has-error' %}
            {% endif %}
            <div class="form-group {{ class }}">

                <label for="{{ formEntreprise.adresse.vars.id }}" class="form-label control-label">adresse de votre entreprise</label>
                <input type="text" class="form-control form-input" id="{{ formEntreprise.adresse.vars.id }}" name="{{ formEntreprise.adresse.vars.full_name }}" value="{{ formEntreprise.adresse.vars.value }}">
                {% do formEntreprise.adresse.setRendered %}
                {% if not formEntreprise.adresse.vars.valid %}
                    {% for error in formEntreprise.adresse.vars.errors %}
                        <span class="help-block">{{ error.message }}</span>
                    {% endfor %}
                {% endif %}

            </div>


            <div class="form-group ">{{ form_row(formEntreprise.codePostal) }}</div>
            <div class="form-group ">
                {{ form_label(formEntreprise.tel, 'Votre numéro de téléphone') }}
                {{ form_widget(formEntreprise.tel) }}
                {{ form_errors(formEntreprise.tel) }}
            </div>

        </fieldset>

            {% block evenement %}
            {% endblock %}
        {{ form_widget(formEntreprise.save) }}
        {#<input type="submit" class="myButtonBis" form="{{ formEntreprise.vars.id }}" value="Enregistrer" >#}
        {#{% do formEntreprise.save.setRendered %}#}


            {{ form_end(formEntreprise) }}




{% endblock %}