{% extends "@Ptitdej/Default/layoutForm.html.twig" %}

{% block formulaire %}
    <div class="row">
        {{ include("PtitdejBundle:Default:titreFormEntreprise.html.twig") }}
    </div>

    <fieldset class="entreprise">
        <legend>Vos renseignements</legend>
        <hr>
        <div class="row">
            <div class="col-md-6">

                {{ form_start(formEntreprise) }}


                {{ form_label(formEntreprise.nom,'Votre nom' , {'label_attr': {'class': 'label' }}) }}
                {{ form_widget(formEntreprise.nom, {'attr': {'class': 'col-md-11'}}) }}
                {{ form_errors(formEntreprise.nom) }}

                {{ form_label(formEntreprise.mail,'Votre adresse mail' , {'label_attr': {'class': 'label' }}) }}
                {{ form_widget(formEntreprise.mail, {'attr': {'class': 'col-md-11'}}) }}
                {{ form_errors(formEntreprise.mail) }}

                {{ form_label(formEntreprise.nomEntreprise,'Le nom de votre entreprise' , {'label_attr': {'class': 'label ' }}) }}
                {{ form_widget(formEntreprise.nomEntreprise, {'attr': {'class': 'col-md-11'}}) }}
                {{ form_errors(formEntreprise.nomEntreprise) }}

                <div style="display:none">
                    {{ form_row(formEntreprise.nature) }}
                </div>

                {{ form_widget(formEntreprise.save, { 'label': 'Enregistrer' }) }}

                {{ form_end(formEntreprise) }}
            </div>

            <div class="col-md-6">
                {{ include("PtitdejBundle:Default:detailsFormEntreprise.html.twig") }}
            </div>
        </div>
    </fieldset>



{% endblock %}

