{% extends "@Ptitdej/Default/layoutForm.html.twig" %}

{% block formulaire %}


    <fieldset class="entreprise">
        <legend>Entreprise p'ti dejivore : Vos renseignements</legend>
        <hr>


        {{ form_start(formEntreprise) }}


        {{ form_label(formEntreprise.nom,'Votre nom' , {'label_attr': {'class': 'label col-md-6' }}) }}
        {{ form_widget(formEntreprise.nom, {'attr': {'class': 'col-md-6' }}) }}
        {{ form_errors(formEntreprise.nom) }}

        {{ form_label(formEntreprise.mail,'Votre adresse mail' , {'label_attr': {'class': 'label col-md-6' }}) }}
        {{ form_widget(formEntreprise.mail, {'attr': {'class': 'col-md-6' }}) }}
        {{ form_errors(formEntreprise.mail) }}

        {{ form_label(formEntreprise.nomEntreprise,'Le nom de votre entreprise' , {'label_attr': {'class': 'label col-md-6' }}) }}
        {{ form_widget(formEntreprise.nomEntreprise, {'attr': {'class': 'col-md-6' }}) }}
        {{ form_errors(formEntreprise.nomEntreprise) }}

        <div style="display:none">
            {{ form_row(formEntreprise.nature) }}
        </div>

        {{ form_widget(formEntreprise.save, { 'label': 'Enregistrer' }) }}

        {{ form_end(formEntreprise) }}
    </fieldset>



{% endblock %}

