{% extends "@Ptitdej/Default/layoutForm.html.twig" %}

{% block formulaire %}


    <fieldset class="entreprise">
        <legend>Prestataire de petit déjeuner : Vos renseignements</legend>
        <hr>


        {{ form_start(formEntreprise) }}

        {{ form_label(formEntreprise.nom,'Votre nom' , {'label_attr': {'class': 'label col-md-6' }}) }}
        {{ form_widget(formEntreprise.nom, {'attr': {'class': 'col-md-6' }}) }}
        {{ form_errors(formEntreprise.nom) }}

        {{ form_label(formEntreprise.mail,'Votre adresse mail' , {'label_attr': {'class': 'label col-md-6' }}) }}
        {{ form_widget(formEntreprise.mail, {'attr': {'class': 'col-md-6' }}) }}
        {{ form_errors(formEntreprise.mail) }}

        {{ form_label(formEntreprise.nomEntreprise,'Le nom de votre entreprise' , {'label_attr': {'class': 'label col-md-6' }}) }}
        {{ form_widget(formEntreprise.nomEntreprise, {'attr': {'class': 'col-md-6' }}) }}
        {{ form_errors(formEntreprise.nomEntreprise) }}

        {{ form_row(formEntreprise.nature) }}

        {{ form_widget(formEntreprise.save, { 'label': 'Enregistrer' }) }}

        {{ form_end(formEntreprise) }}
    </fieldset>

    <a href="{{ path('ptitdej_homepage') }}" onclick="return activer()">retour</a>
    <div id="test" onclick="even()">
    salut
    </div>
    <div id="notesVue">
    </div>
    <a href="#" onClick="notes.ajoutItem();return false">Ajouter</a>
    <script src="{{ asset('js/test.js')  }}"></script>

    <script>
        qcm.ajouterQuestion("quel est l'age du capitaine ? ", 20,30,40,50);
        qcm.ajouterQuestion("quel est la taille du capitaine en cm ? ", 170,180,185,190);
        function afficher2(){
            var parent = document.getElementById("qcm");
            var d = document.createElement("div");
            var t = document.createTextNode("quel est l'age du capitaine ? ");
            d.appendChild(t);
            parent.appendChild(d);
            console.log("re")
        }
        console.log(qcm.ajouterQuestion)
    </script>

    <div onload="qcm.demarrer()">
        <div id="qcm"> le qcm :
        </div>
        <input type="submit" value="valider" onclick="afficher2()">
    </div>


{% endblock %}